<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AAMC Carbon Calculator</title>
    <meta name="description" content="Calculating the Environmental Impact of the AAMC Tour" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" content="Kevin E Liang" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="icon" type="image/png" href="images/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/results.css">
    <link rel="stylesheet" type="text/css" href="styles/popup.css">
    <link rel="stylesheet" type="text/css" href="styles/comparison.css">
    <link rel="stylesheet" type="text/css" href="styles/circlegraph.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jquery ui for dragging locations -->
    <script src="src/jquery-ui.js" type="text/javascript"></script>
</head>
<!-- emissions -->

<body id="top" itemtype="http://schema.org/WebPage">
    <div class="container-fluid">
        <!-- map of US -->
        <div id="introduction" class="row pt-3 text-dark text-center">
            <h1>What is the Environmental Impact of your Residency &#169 Tour?</h1>
        </div>

        <!-- user enters their airport info -->
        <div id="user-input">
            <div id="app" class="mileage">
                <svg class="mileage-map p-2" ref="map" width="1200" height="780" viewBox="-120 -100 1200 780">
                    <g class="mileage-map__states" ref="provinces"></g>
                    <g ref="airports">
                        <g class="airport" :class="{ 'airport--current' : airport.current }" v-for="airport in airports">
                            <circle r="3" :cx="airport.x" :cy="airport.y" class="airport__marker" />
                            <circle r="16" :cx="airport.x" :cy="airport.y" class="airport__range" />
                            <circle r="16" :cx="airport.x" :cy="airport.y" class="airport__range" @mousemove="airportSnap($event, airport)" @mouseup="airportClick($event, airport)" @mouseleave.self="airportLeave($event, airport)" />
                        </g>
                    </g>

                    <path class="marker-connector" :d="markerConnect()"></path>

                    <g class="airplane" ref="airplane">
                        <path class="airplane__icon" d="M21 15.984l-8.016-2.484v5.484l2.016 1.5v1.5l-3.516-0.984-3.469 0.984v-1.5l1.969-1.5v-5.484l-7.969 2.484v-1.969l7.969-5.016v-5.484c0-0.844 0.656-1.5 1.5-1.5s1.5 0.656 1.5 1.5v5.484l8.016 5.016v1.969z" transform="translate(-8,-15) scale(1.2)"></path>
                    </g>

                    <g v-for="marker in markers" @mousedown="markerSet($event,marker)" class="marker" :class="{ 'marker--current' : marker.current }" :transform="'translate('+marker.x+','+marker.y+')'">
                        <path fill="{{marker.fill}}" d="M0 0l28.592-28.592c15.78-15.78 15.908-41.24.128-57.02a40.424 40.424 0 0 0-57.124 57.2z"></path>
                        <transition name="marker-fade">
                            <text v-if="marker.airport" x="0" y="-42" text-anchor="middle" v-text="marker.airport.LocationID"></text>
                        </transition>
                    </g>
                </svg>
            </div>

            <div class="d-flex justify-content-center">
                <form method="post" action="" id="sort-it" onsubmit="return false;">
                    <h3 class="control-label text-dark text-center mb-3" for="autocomplete">
                        I'm starting my Residency Interview Tour from
                    </h3>
                    <div class="input-group justify-content-center">
                        <input id="autocomplete" class="form-control" type="text" name="dep-city" placeholder="City or Airport Name ..." autocomplete="off" />
                        <button type="button" class="btn btn-primary" id="addbutton">Add</button>
                        <button type="button" class="btn btn-secondary" id="calculate" style="display:none;">Calculate My Emissions</button>
                    </div>
                    <div style="display: none" class="input-group pt-3 pb-3 justify-content-center" id="journeytype">
                        <input type="radio" name="journeytype" value="1" id="flying" checked="" />
                        <label class="text-dark" for="flying">By Flying</label>
                        <input type="radio" name="journeytype" value="0" id="other" />
                        <label class="text-dark" for="other">By Other Means</label>
                    </div>

                    <ul id="visited-airport-list" class="mt-5 d-none"></ul>
                    <div class="clearfix"></div>

                </form>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- hidden infographic and form displayed after the user enters their residency info -->
        <div class="p-5 row" id="emission-data" style="display:none">
            <!-- Infographic -->
            <div class="col col-lg-6 p-5 mx-auto text-white text-center rounded" id="infographic">

                <h1>Total Emission Calculations</h1>
                <h8>Source: Estimates based on economy class seats </h8>

                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <h1 class="mileage__calculations mt-5" id="numberofcities">
                                <span id="totalCities" data-city=""></span><small style="font-size:20px"> Cities Visited</small>
                            </h1>
                        </div>
                        <div class="col-sm">
                            <h1 class="mileage__calculations mt-5" id="distancebetween">
                                <span id="totalDistance" data-distance=""></span>
                                <small style="font-size:20px"> Miles Travelled</small>
                            </h1>
                        </div>
                        <div class="col-sm">
                            <h1 class="mileage__calculations mt-5" id="co2emission">
                                <span id="totalEmission" data-emission=""></span>
                                <small style="font-size:20px"> Kg CO2 Emitted</small>
                            </h1>
                        </div>
                    </div>
                </div>
                <div id="container">
                    <div class="row" id="circulargraph">
                        <div class="col-md-12 col-lg-7">
                            <div class="graph">
                                <div class="percent-circle pc1" data-percent="0">
                                    <svg>
                                        <use class="percent-circle-inner" xlink:href="#percent-circle-svg"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <div class="textStyle textBox textLeft" style="margin-top:75px"> of the <span class="callout">average yearly </span> American Emission per person</div>
                        </div>
                    </div>
                    <svg class="hidden">
                        <circle id="percent-circle-svg" cx="50%" cy="50%" r="50%" stroke-alignment="inner"></circle>
                    </svg>

                    <div class="row">
                        <div class="col-12">
                            <h5>The <span class="callout"> carbon emissions </span> of your trip compared to emission reduction by lifestyle changes for <span class="callout">1 year </span></h5>
                        </div>

                        <section>
                            <div class="row">
                                <div class="col col-4" id="legend-graph">
                                    <div class="column">
                                        <div class="form-group">
                                            <input id="opt1" type="checkbox" value="0.9">
                                            <label for="opt1"><span></span>Go vegetarian</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="opt2" type="checkbox" value="0.21">
                                            <label for="opt2"><span></span>Recycle</label>
                                        </div>
                                        <!--<div class="checkbox">
                                            <input id="opt3" type="checkbox" value="0.06">
                                            <label for="opt3"><span></span>Only use LED light bulbs</label>
                                        </div> -->
                                        <div class="form-group zero">
                                            <input id="opt5" type="checkbox" value="0.37">
                                            <label for="opt5"><span></span>Reduce your food waste to 0</label>
                                        </div>
                                        <!--<div class="checkbox">
                                            <input id="opt6" type="checkbox" value="0.005">
                                            <label for="opt6"><span></span>Use a reusable shopping bag</label>
                                        </div> -->
                                        <div class="form-group">
                                            <input id="opt7" type="checkbox" value="0.36">
                                            <label for="opt7"><span></span>Eat local food only</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="opt4" type="checkbox" value="1.33">
                                            <label for="opt4"><span></span>Live car free (30km/day)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="big-bars">
                                    <div class="comp-bar">
                                        <div class="opt-bar" id="opt1-bar" class="">
                                            <div>- 0.9 tCO₂e</div>
                                        </div>
                                        <div class="opt-bar" id="opt2-bar" class="">
                                            <div>- 0.21 tCO₂e</div>
                                        </div>
                                        <!--<div class="opt-bar" id="opt3-bar" class="">
                                            <div>- 0.06</div>
                                        </div> -->
                                        <div class="opt-bar" id="opt5-bar" class="">
                                            <div>- 0.37 tCO₂e</div>
                                        </div>
                                        <!-- <div class="opt-bar" id="opt6-bar" class="">
                                            <div>-0.005</div>
                                        </div> -->
                                        <div class="opt-bar" id="opt7-bar" class="">
                                            <div>- 0.36 tCO₂e</div>
                                        </div>
                                        <div class="opt-bar" id="opt4-bar" class="">
                                            <div>- 1.33 tCO₂e</div>
                                        </div>
                                    </div>
                                    <div id="coBarThree" class="plane-bar color-white">
                                        <div>+ <span class="co"></span> tCO₂e</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <!-- New response data form -->
            <div class="mt-5 d-flex flex-column align-items-center">
                <hr>
                <h3 class="col-7 text-dark text-center">Please help us understand the cost of the entire AAMC tour by filling out this short questionnaire</h3>

                <!-- TODO: remove, hidden g form -->
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfEP4W_FfnwwJk1DNvbgvlVCqRtxJtUBPobzv6JTCnEodvvFw/viewform?embedded=true" width="640" height="823" frameborder="0" marginheight="0" marginwidth="0" class="p-3 rounded col-7">Loading…</iframe>

                <!-- Custom styled form -->
                <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfEP4W_FfnwwJk1DNvbgvlVCqRtxJtUBPobzv6JTCnEodvvFw/formResponse" method="POST">
                    <div class="formbuilder-select form-group field-select-1644994922881">
                        <label for="select-1644994922881" class="formbuilder-select-label">I interviewed during the</label>
                        <input name="entry.619680505" type="radio" value="2021-2022 application cycle" selected="true" id="select-1644994922881-0">2021-2022 application cycle</input>
                        <input name="entry.619680505" type="radio" value="2020-2021 application cycle" id="select-1644994922881-1">2020-2021 application cycle</input>
                        <!-- <select class="form-control" name="entry.619680505" id="select-1644994922881">
                            <option value="interview-2021-2022" selected="true" id="select-1644994922881-0">2021-2022 application cycle</option>
                            <option value="interview-2020-2021" id="select-1644994922881-1">2020-2021 application cycle</option>
                        </select> -->
                    </div>
                    <div class="formbuilder-select form-group field-select-1644994963652">
                        <label for="select-1644994963652" class="formbuilder-select-label">I interviewed for</label>
                        <input type="radio" name="entry.29944464" value="Medical School" selected="true" id="select-1644994963652-0">Medical School</input>
                        <input type="radio" name="entry.29944464" value="Residency" id="select-1644994963652-1">Residency</input>
                        <input type="radio" name="entry.29944464" value="Fellowship" id="select-1644994963652-2">Fellowship</input>
                        <!-- <select class="form-control" name="entry.29944464" id="select-1644994963652">
                            <option value="med-school" selected="true" id="select-1644994963652-0">Medical School</option>
                            <option value="residency" id="select-1644994963652-1">Residency</option>
                            <option value="fellowship" id="select-1644994963652-2">Fellowship</option>
                        </select> -->
                    </div>
                    <div class="formbuilder-select form-group field-select-1644994998869">
                        <label for="select-1644994998869" class="formbuilder-select-label">If applicable, which residency specialty did you interview for?</label>
                        <input type="radio" name="entry.842876269" value="Anesthesiology" selected="true" id="select-1644994998869-0">Anesthesiology</input>
                        <input type="radio" name="entry.842876269" value="option-2" id="select-1644994998869-1">Option 2</input>
                        <input type="radio" name="entry.842876269" value="option-3" id="select-1644994998869-2">Option 3</input>
                        <!-- TODO: add in the residency specialties -->
                        <!-- <select class="form-control" name="entry.842876269" id="select-1644994998869">
                        <option value="option-1" selected="true" id="select-1644994998869-0">Option 1</option>
                        <option value="option-2" id="select-1644994998869-1">Option 2</option>
                        <option value="option-3" id="select-1644994998869-2">Option 3</option>
                        </select> -->
                    </div>
                    <div class="formbuilder-text form-group field-text-1644995051365">
                        <label for="text-1644995051365" class="formbuilder-text-label"> If applicable, which fellowship specialty did you interview for?</label>
                        <input type="text" class="form-control" name="entry.675876217" access="false" id="text-1644995051365">
                    </div>
                    <div class="formbuilder-textarea form-group field-textarea-1644995090519">
                        <label for="textarea-1644995090519" class="formbuilder-textarea-label">
                            <div>(Optional) At which institution are you currently studying?</div>
                        </label>
                        <input type="text" class="form-control" name="entry.1914427345" access="false" id="textarea-1644995090519"></input>
                    </div>
                    <div class="formbuilder-select form-group field-select-1644995132081">
                        <label for="select-1644995132081" class="formbuilder-select-label">
                            <div>In the future, I prefer interviews to be</div>
                        </label>
                        <input type="radio" name="entry.625532030" value="Virtual" selected="true" id="select-1644995132081-0">Virtual</input>
                        <input type="radio" name="entry.625532030" value="In-person" id="select-1644995132081-1">In-person</input>
                        <input type="radio" name="entry.625532030" value="Hybrid (virtual interview with in-person second look)" id="select-1644995132081-2">Hybrid (virtual interview with in-person second look)</input>
                        <input type="radio" name="entry.625532030" value="Unsure" id="select-1644995132081-3">Unsure</input>
                        <!-- <select class="form-control" name="entry.625532030" id="select-1644995132081">
                            <option value="virtual" selected="true" id="select-1644995132081-0">Virtual</option>
                            <option value="in-person" id="select-1644995132081-1">In-person</option>
                            <option value="hybrid" id="select-1644995132081-2">Hybrid (virtual interview with in-person second look)</option>
                            <option value="unsure" id="select-1644995132081-3">Unsure</option>
                        </select> -->
                    </div>
                    <div class="formbuilder-textarea form-group field-textarea-1644995190804">
                        <label for="textarea-1644995190804" class="formbuilder-textarea-label">Any comments?</label>
                        <input type="text" class="form-control" name="entry.909335272" access="false" id="textarea-1644995190804"></input>
                    </div>
                    <div class="formbuilder-button form-group field-button-1644997402759">
                        <button type="submit" class="btn-primary btn" name="button-1644997402759" access="false" style="primary" id="button-1644997402759">Submit</button>
                    </div>

                    <!-- hidden fields for cities -->
                    <input type="hidden" name="entry.240743650" value="city 12lk4214">
                    <input type="hidden" name="entry.1080544932" value="2">
                    <input type="hidden" name="entry.2129984577" value="3">
                    <input type="hidden" name="entry.852807689" value="4">
                    <input type="hidden" name="entry.490061391" value="5">
                    <input type="hidden" name="entry.1391009792" value="6">
                    <input type="hidden" name="entry.330088883" value="7">
                    <input type="hidden" name="entry.1689930028" value="8">
                    <input type="hidden" name="entry.674972753" value="9">
                    <input type="hidden" name="entry.764509498" value="10">
                    <input type="hidden" name="entry.192463826" value="11">
                    <input type="hidden" name="entry.1419527768" value="12">
                    <input type="hidden" name="entry.1846688567" value="13">
                    <input type="hidden" name="entry.537106193" value="14">
                    <input type="hidden" name="entry.1909908486" value="15">
                    <input type="hidden" name="entry.350534770" value="16">
                    <input type="hidden" name="entry.976267829" value="17">
                    <input type="hidden" name="entry.1082496322" value="18">
                    <input type="hidden" name="entry.753377230" value="19">
                    <input type="hidden" name="entry.1164989284" value="20">
                    <input type="hidden" name="entry.874213606" value="21">
                    <input type="hidden" name="entry.1361638981" value="22">
                    <input type="hidden" name="entry.1103784937" value="23">
                    <input type="hidden" name="entry.1513787133" value="24">
                    <input type="hidden" name="entry.1617584960" value="25">
                    <input type="hidden" name="entry.1085779929" value="26">
                    <input type="hidden" name="entry.1803802730" value="27">
                    <input type="hidden" name="entry.432052311" value="28">
                    <input type="hidden" name="entry.1877378464" value="29">
                    <input type="hidden" name="entry.1853404945" value="30">
                </form>
            </div>

            <!-- Hidden old questionnaire Form -->
            <div class="d-none bg-light p-3">
                <div class="p-1" style="background-color:#D9DCD6">
                    <!-- TODO: uncomment the real google form response -->
                    <!-- <form class="form mt-5" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSejY5ykx9XWxh_UxnaaAFWOpVQJP2Q2bwVNcnINXDnpMMKXRg/formResponse" target="hidden_iframe" onsubmit="animateThankYouMessage"> -->
                    <form class="form mt-5" action="." onsubmit="return animateThankYouMessage()">
                        <h4 class="text-dark">Please help us understand the cost of the entire AAMC tour</h4>

                        <!-- Med School of Origin -->
                        <div class="form-group mb-3">
                            <label class="text-dark" for="entry.735375071">I study at:</label>
                            <input class="form-control" id="schooloforigin" name="entry.735375071" size="70" type="text" placeholder="Please enter name of medical school" />
                            <div class="form-check">
                                <input class="form-check-input" name="schooloforigin-decline" id="schooloforigin-decline" type="checkbox">
                                <label class="form-check-label" for="schooloforigin-decline">Decline to Answer</label>
                            </div>
                        </div>

                        <!-- Specialties -->
                        <label class="text-dark">I am applying to:</label>
                        <input class="form-control" id="specialties" name="entry.1179383716" size="70" placeholder="Please enter the specialty(ies) you applied to" type="text" />
                        <input class="text-dark" name="specialties-decline" type="checkbox">
                        <label class="text-dark" for="specialties-decline">Decline to Answer</label>

                        <input id="city0" name="entry.599602472" style="display:none" type="text" />
                        <input id="city1" name="entry.589350821" style="display:none" type="text" />
                        <input id="city2" name="entry.1150841774" style="display:none" type="text" />
                        <input id="city3" name="entry.1124877950" style="display:none" type="text" />
                        <input id="city4" name="entry.122035344" style="display:none" type="text" />
                        <input id="city5" name="entry.550683007" style="display:none" type="text" />
                        <input id="city6" name="entry.1732348661" style="display:none" type="text" />
                        <input id="city7" name="entry.710850222" style="display:none" type="text" />
                        <input id="city8" name="entry.1715087234" style="display:none" type="text" />
                        <input id="city9" name="entry.1946291462" style="display:none" type="text" />
                        <input id="city10" name="entry.386767754" style="display:none" type="text" />
                        <input id="city11" name="entry.251875721" style="display:none" type="text" />
                        <input id="city12" name="entry.757240061" style="display:none" type="text" />
                        <input id="city13" name="entry.1337219740" style="display:none" type="text" />
                        <input id="city14" name="entry.417269170" style="display:none" type="text" />
                        <input id="city15" name="entry.852167020" style="display:none" type="text" />
                        <input id="city16" name="entry.493625509" style="display:none" type="text" />
                        <input id="city17" name="entry.1446717457" style="display:none" type="text" />
                        <input id="city18" name="entry.802516056" style="display:none" type="text" />
                        <input id="city19" name="entry.1117702907" style="display:none" type="text" />
                        <input id="city20" name="entry.103858432" style="display:none" type="text" />
                        <input id="city21" name="entry.469194213" style="display:none" type="text" />
                        <input id="city22" name="entry.806626741" style="display:none" type="text" />
                        <input id="city23" name="entry.741291110" style="display:none" type="text" />
                        <input id="city24" name="entry.333075389" style="display:none" type="text" />
                        <input id="city25" name="entry.1248216763" style="display:none" type="text" />
                        <input id="city26" name="entry.1305126104" style="display:none" type="text" />
                        <input id="city27" name="entry.330434047" style="display:none" type="text" />
                        <input id="city28" name="entry.518662113" style="display:none" type="text" />
                        <input id="city29" name="entry.324442649" style="display:none" type="text" />
                        <h6 class="text-dark p-3"> <strong>Please note</strong>, because the survey is anonymous, once you click the submit button at the end of the survey the researchers will not be able to determine which survey answers belong to you, so your information cannot
                            be withdrawn after that point. Your information only will only be collected if you selected the “I agree” button at the consent cover letter. </h6>
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </form>
                </div>
                <div id="thankyou" style="display:none; background-color:green; margin-bottom:10px">
                    <h1>Thank you!</h1>
                </div>
            </div>
        </div>
    </div>

    <script src="src/comparison.js"></script>
    <script src='src/usaairports.js'></script>

    <!-- circular graph -->
    <script src="src/circlegraph.js"></script>

    <!-- map js -->
    <!-- Vue controls the map -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
    <!-- animation library -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin.min.js'></script>

    <!-- to-do list js -->
    <script src="src/results.js"></script>
    <script src="src/todo.js"></script>
    <script src="src/emissions.js"></script>
    <script src="src/map.js"></script>
    <!--form js -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.min.js'></script>
    <script src='https://unpkg.com/fuse.js@2.5.0/src/fuse.min.js'></script>
    <script type="text/javascript" src="src/autocomplete.js"></script>
    <!-- animate form -->
    <script src='https://animejs.com/lib/anime.min.js'></script>
    <script src="src/animate.js"></script>
    <!-- results -->
    <script src="src/infographic.js"></script>
    <script src="src/popup.js"></script>



</body>

</html>