<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AAMC Carbon Calculator</title>
    <meta name="description" content="Calculating the Environmental Impact of the AAMC Tour" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" content="Kevin E Liang" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="icon" type="image/png" href="images/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/results.css">
    <link rel="stylesheet" type="text/css" href="styles/comparison.css">
    <link rel="stylesheet" type="text/css" href="styles/circlegraph.css">
    <link rel="stylesheet" type="text/css" href="styles/infographicText.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jquery ui for dragging locations -->
    <script src="src/jquery-ui.js" type="text/javascript"></script>
</head>
<!-- emissions -->

<body id="top" itemtype="http://schema.org/WebPage">
    <!-- consent modal -->
    <div class="modal" id="consentModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="max-width:60vw" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                </div> -->
                <div class="modal-body">
                    <p>We are asking you to take part in a research study being done by researchers at the University of California, San Francisco. Being in this study is optional.
                    </p>
                    <p>
                        If you choose to be in the study, you will complete a survey. This survey will help us learn more about the environmental impact of medical school, residency, and fellowship interviews. The survey will take about 5 minutes to complete. <strong>If you do not want to be in the study, you can still calculate your real or mitigated emissions using our interactive map; as long as you do not “submit”, your responses will not be recorded.</strong>
                    </p>
                    <p>
                        You can skip questions that you do not want to answer or stop the survey at any time. The survey is anonymous, and no one will be able to link your answers back to you. Please do not include your name or other information that could be used to identify
                        you in the survey responses.
                    </p>
                    <p>
                        Questions? Please contact Karly Hampshire at <a href="mailto:karly.hampshire@ucsf.edu">karly.hampshire@ucsf.edu</a>. If you have questions or concerns about your rights as a research participant, you can call the UCSF Institutional
                        Review Board at 415-476-1814. If you want to participate in this study, click the Agree button to start the survey.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Agree</button>
                </div>
            </div>
        </div>
    </div>

    <!-- load navbar -->
    <div id="nav-placeholder"></div>
    <script>
        let title = "What were the emissions savings of completing your interviews virtually?"
        $.get("./templates/navigation.html", function(data) {
            $("#nav-placeholder").replaceWith(data);
            $("#navbarTitle").text(title);
        });
        document.title = title;
    </script>

    <div class="container-fluid">
        <div class="row justify-content-end pt-5">
            <div class="col-lg-5" id="user-input">
                <!-- map of US -->
                <div id="app" class="mileage">
                    <svg class="mileage-map p-2" ref="map" width="1200" height="780" viewBox="-120 -100 1200 780">
                        <g class="mileage-map__states" ref="provinces"></g>
                        <g ref="airports">
                            <g class="airport" :class="{ 'airport--current' : airport.current }" v-for="airport in airports">
                                <circle r="3" :cx="airport.x" :cy="airport.y" class="airport__marker" />
                                <circle r="16" :cx="airport.x" :cy="airport.y" class="airport__range" />
                                <circle r="16" :cx="airport.x" :cy="airport.y" class="airport__range" @mousemove="airportSnap($event, airport)" @mouseup="airportClick($event, airport)" @mouseleave.self="airportLeave($event, airport)" />
                            </g>
                        </g>


                        <path class="marker-connector" :d="markerConnect()"></path>

                        <g class="airplane" ref="airplane">
                            <path class="airplane__icon" d="M21 15.984l-8.016-2.484v5.484l2.016 1.5v1.5l-3.516-0.984-3.469 0.984v-1.5l1.969-1.5v-5.484l-7.969 2.484v-1.969l7.969-5.016v-5.484c0-0.844 0.656-1.5 1.5-1.5s1.5 0.656 1.5 1.5v5.484l8.016 5.016v1.969z" transform="translate(-8,-15) scale(1.2)"></path>
                        </g>

                        <g v-for="marker in markers" @mousedown="markerSet($event,marker)" class="marker" :class="{ 'marker--current' : marker.current }" :transform="'translate('+marker.x+','+marker.y+')'">
                            <path fill="{{marker.fill}}" d="M0 0l28.592-28.592c15.78-15.78 15.908-41.24.128-57.02a40.424 40.424 0 0 0-57.124 57.2z"></path>
                            <transition name="marker-fade">
                                <text v-if="marker.airport" x="0" y="-42" text-anchor="middle" v-text="marker.airport.LocationID"></text>
                            </transition>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="row align-items-center col-lg-5 px-0">
                <p class="mx-auto col-10 text-center pt-3">
                    Interactive Map: Please enter the estimated flight itinerary of your interview schedule, had interviews been in-person. Remember to include flights back to your home city in-between interviews when applicable. Please do not include places you would have
                    driven or used public transportation to reach.
                </p>
                <!-- user enters their airport info -->
                <div class="mx-auto d-flex justify-content-center col-10">
                    <form method="post" action="" id="sort-it" onsubmit="return false;">
                        <h4 class="control-label text-dark text-center" for="autocomplete">
                            I'm starting my Residency Interview Tour from
                        </h4>
                        <div class="input-group justify-content-center mt-2">
                            <input id="autocomplete" class="form-control" type="text" name="dep-city" placeholder="City or Airport Name ..." autocomplete="off" />
                            <div class="mt-2">
                                <button type="button" class="btn btn-primary" id="addbutton">Add</button>
                                <button type="button" class="btn btn-secondary" id="calculate" style="display:none;">Calculate My Mitigated Emissions</button>
                            </div>
                        </div>

                        <!-- hidden because not used, leaving in just in case we need it later -->
                        <div style="display: none" class="input-group pt-3 pb-3 justify-content-center" id="journeytype">
                            <input type="radio" name="journeytype" value="1" id="flying" checked="" />
                            <label class="text-dark" for="flying">By Flying</label>
                            <input type="radio" name="journeytype" value="0" id="other" />
                            <label class="text-dark" for="other">By Other Means</label>
                        </div>

                        <ul id="visited-airport-list" class="mt-5 d-none"></ul>
                        <div class="clearfix"></div>

                    </form>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>


        <!-- hidden infographic and form displayed after the user enters their residency info -->
        <div class="p-5 row col-12 mx-auto" id="emission-data" style="display:none">
            <!-- Infographic -->
            <div class="col col-lg-8 p-5 mx-auto text-white text-center rounded" id="infographic">

                <h1>Total Emission Calculations</h1>
                <h8>Source: Estimates based on economy class seats </h8>

                <div id="infographic-container" class="container position-relative col-8 my-3" style="height:70vh">
                    <img id="infographic-bg-img" class="centered" src="images/Infographic background.png" alt="infographic-background" style="width:auto;height:70vh">
                    <div id="infographic-text" class="centered pt-3" style="width: 80%;color:#212527">
                        <span>
                            Because residency interviews were virtual this year, I avoided
                        </span>
                        <span class="mileage__calculations" id="distancebetween">
                            <span id="totalDistance" data-distance=""></span> miles of flights
                        </span>
                        <span>between</span>
                        <br>
                        <span class="mileage__calculations" id="numberofcities">
                            <span id="totalCities" data-city=""></span> cities
                        </span>
                        <span>and saved</span>
                        <br>
                        <span class="mileage__calculations" id="co2emission">
                                <span id="totalEmission" data-emission=""></span> Kg of CO2
                        </span>
                        <span>which is equivalent to</span>
                        <span class="mileage__calculations" id="co2emission">
                                <span id="percentageAmerican" data-emission=""></span> of the average American's yearly carbon footprint.
                        </span>
                    </div>
                </div>

                <div class="row">
                    <h5>Spread the word! Take a screenshot of this image and share on social media with the hashtag #interviewwithoutharm.</h5>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h5>In order to offset these theoretical emissions, you would need to make the following lifestyle changes for 1 year (click the checkboxes)</h5>
                    </div>

                    <section>
                        <div class="row">
                            <div class="col col-4" id="legend-graph">
                                <div class="column">
                                    <div class="form-group">
                                        <input id="opt1" type="checkbox" value="0.9">
                                        <label for="opt1"><span></span>Go vegetarian</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="opt2" type="checkbox" value="0.21">
                                        <label for="opt2"><span></span>Recycle</label>
                                    </div>
                                    <!--<div class="checkbox">
                                            <input id="opt3" type="checkbox" value="0.06">
                                            <label for="opt3"><span></span>Only use LED light bulbs</label>
                                        </div> -->
                                    <div class="form-group zero">
                                        <input id="opt5" type="checkbox" value="0.37">
                                        <label for="opt5"><span></span>Reduce your food waste to 0</label>
                                    </div>
                                    <!--<div class="checkbox">
                                            <input id="opt6" type="checkbox" value="0.005">
                                            <label for="opt6"><span></span>Use a reusable shopping bag</label>
                                        </div> -->
                                    <div class="form-group">
                                        <input id="opt7" type="checkbox" value="0.36">
                                        <label for="opt7"><span></span>Eat local food only</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="opt4" type="checkbox" value="1.33">
                                        <label for="opt4"><span></span>Live car free (30km/day)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="big-bars">
                                <div class="comp-bar">
                                    <div class="opt-bar" id="opt1-bar" class="">
                                        <div>- 0.9 tCO₂e</div>
                                    </div>
                                    <div class="opt-bar" id="opt2-bar" class="">
                                        <div>- 0.21 tCO₂e</div>
                                    </div>
                                    <!--<div class="opt-bar" id="opt3-bar" class="">
                                            <div>- 0.06</div>
                                        </div> -->
                                    <div class="opt-bar" id="opt5-bar" class="">
                                        <div>- 0.37 tCO₂e</div>
                                    </div>
                                    <!-- <div class="opt-bar" id="opt6-bar" class="">
                                            <div>-0.005</div>
                                        </div> -->
                                    <div class="opt-bar" id="opt7-bar" class="">
                                        <div>- 0.36 tCO₂e</div>
                                    </div>
                                    <div class="opt-bar" id="opt4-bar" class="">
                                        <div>- 1.33 tCO₂e</div>
                                    </div>
                                </div>
                                <div id="coBarThree" class="plane-bar color-white">
                                    <div>+ <span class="co"></span> tCO₂e</div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <!-- New response data form -->
            <div class="mt-5 d-flex flex-column align-items-center">
                <hr>
                <h3 class="col-7 text-dark text-center">Please help us understand the cost of the entire AAMC tour by filling out this short questionnaire</h3>

                <!-- TODO: remove, hidden g form -->
                <!-- <iframe class="d-none" src="https://docs.google.com/forms/d/e/1FAIpQLSfEP4W_FfnwwJk1DNvbgvlVCqRtxJtUBPobzv6JTCnEodvvFw/viewform?embedded=true" width="640" height="823" frameborder="0" marginheight="0" marginwidth="0" class="p-3 rounded col-7">Loading…</iframe> -->

                <!-- dummy frame for form to submit without redirect -->
                <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

                <!-- Custom styled form -->
                <form class="needs-validation border border-3 border-dark p-3 rounded text-white" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfEP4W_FfnwwJk1DNvbgvlVCqRtxJtUBPobzv6JTCnEodvvFw/formResponse" method="POST" target="dummyframe" style="background: #4D4D4D">
                    <div class="mb-3">
                        <span class="text-danger">* Required Question</span>
                    </div>

                    <div class="mb-3">
                        <!-- Which year they interviewed -->
                        <h4>I interviewed during the:<span class="text-danger">*</span></h4>
                        <div class="form-check">
                            <input class="form-check-input" name="entry.619680505" type="radio" value="2021-2022 application cycle" id="select-1644994922881-0" required>
                            <label class="form-check-label" for="select-1644994922881-0">
                                2021-2022 application cycle
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="entry.619680505" type="radio" value="2020-2021 application cycle" id="select-1644994922881-1" required></input>
                            <label class="form-check-label" for="select-1644994922881-1">
                                2020-2021 application cycle
                            </label>
                        </div>
                    </div>

                    <!-- Med school, residency, or fellowship -->
                    <div class="mb-3">
                        <h4>I interviewed for:<span class="text-danger">*</span></h4>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="entry.29944464" value="Medical School" selected="true" id="select-1644994963652-0" required>
                            <label class="form-check-label" for="select-1644994963652-0">
                                Medical School
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="entry.29944464" value="Residency" id="select-1644994963652-1" required></input>
                            <label class="form-check-label" for="select-1644994963652-1">
                                Residency
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="entry.29944464" value="Fellowship" id="select-1644994963652-2" required></input>
                            <label class="form-check-label" for="select-1644994963652-2">
                                Fellowship
                            </label>
                        </div>
                    </div>

                    <!-- Residency specialties -->
                    <div class="mb-3">
                        <h4>If applicable, which residency specialty did you interview for?</h4>
                        <select class="form-select" name="entry.842876269" aria-label="which residency specialty did you interview for">
                            <option value="N/A" selected>N/A</option>
                            <option value="Anesthesiology">Anesthesiology</option>
                            <option value="Dermatology">Dermatology</option>
                            <option value="Diagnostic Radiology">Diagnostic Radiology</option>
                            <option value="Emergency Medicine">Emergency Medicine</option>
                            <option value="Family Medicine">Family Medicine</option>
                            <option value="Internal Medicine">Internal Medicine</option>
                            <option value="Neurology">Neurology</option>
                            <option value="Neurosurgery">Neurosurgery</option>
                            <option value="Obstetrics and Gynecology">Obstetrics and Gynecology</option>
                            <option value="Ophthalmology">Ophthalmology</option>
                            <option value="Orthopedic Surgery">Orthopedic Surgery</option>
                            <option value="Otolaryngology">Otolaryngology</option>
                            <option value="Pathology">Pathology</option>
                            <option value="Pediatrics">Pediatrics</option>
                            <option value="Physical Medicine and Rehabilitation">Physical Medicine and Rehabilitation</option>
                            <option value="Plastic Surgery">Plastic Surgery</option>
                            <option value="Psychiatry">Psychiatry</option>
                            <option value="Radiation Oncology">Radiation Oncology</option>
                            <option value="Surgery">Surgery</option>
                            <option value="Thoracic Surgery">Thoracic Surgery</option>
                            <option value="Urology">Urology</option>
                        </select>

                        <!-- <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Anesthesiology" selected="true" id="select-1644994998869-0">
                            <label class="form-check-label" for="select-1644994998869-0">
                                Anesthesiology
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Dermatology" selected="true" id="select-1644994998869-1">
                            <label class="form-check-label" for="select-1644994998869-1">
                                Dermatology
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Diagnostic Radiology" selected="true" id="select-1644994998869-2">
                            <label class="form-check-label" for="select-1644994998869-2">
                                Diagnostic Radiology
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Emergency Medicine" selected="true" id="select-1644994998869-3">
                            <label class="form-check-label" for="select-1644994998869-3">
                                Emergency Medicine
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Family Medicine" selected="true" id="select-1644994998869-4">
                            <label class="form-check-label" for="select-1644994998869-4">
                                Family Medicine
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Internal Medicine" selected="true" id="select-1644994998869-5">
                            <label class="form-check-label" for="select-1644994998869-5">
                                Internal Medicine
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Neurology" selected="true" id="select-1644994998869-6">
                            <label class="form-check-label" for="select-1644994998869-6">
                                Neurology
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Neurosurgery" selected="true" id="select-1644994998869-7">
                            <label class="form-check-label" for="select-1644994998869-7">
                                Neurosurgery
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Obstetrics and Gynecology" selected="true" id="select-1644994998869-8">
                            <label class="form-check-label" for="select-1644994998869-8">
                                Obstetrics and Gynecology
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Ophthalmology" selected="true" id="select-1644994998869-9">
                            <label class="form-check-label" for="select-1644994998869-9">
                                Ophthalmology
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Orthopedic Surgery" selected="true" id="select-1644994998869-10">
                            <label class="form-check-label" for="select-1644994998869-10">
                                Orthopedic Surgery
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Otolaryngology" selected="true" id="select-1644994998869-11">
                            <label class="form-check-label" for="select-1644994998869-11">
                                Otolaryngology
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Pathology" selected="true" id="select-1644994998869-12">
                            <label class="form-check-label" for="select-1644994998869-12">
                                Pathology
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Pediatrics" selected="true" id="select-1644994998869-13">
                            <label class="form-check-label" for="select-1644994998869-13">
                                Pediatrics
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Physical Medicine and Rehabilitation" selected="true" id="select-1644994998869-14">
                            <label class="form-check-label" for="select-1644994998869-14">
                                Physical Medicine and Rehabilitation
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Plastic Surgery" selected="true" id="select-1644994998869-15">
                            <label class="form-check-label" for="select-1644994998869-15">
                                Plastic Surgery
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Psychiatry" selected="true" id="select-1644994998869-16">
                            <label class="form-check-label" for="select-1644994998869-16">
                                Psychiatry
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Radiation Oncology" selected="true" id="select-1644994998869-17">
                            <label class="form-check-label" for="select-1644994998869-17">
                                Radiation Oncology
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Surgery" selected="true" id="select-1644994998869-18">
                            <label class="form-check-label" for="select-1644994998869-18">
                                Surgery
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Thoracic Surgery" selected="true" id="select-1644994998869-19">
                            <label class="form-check-label" for="select-1644994998869-19">
                                Thoracic Surgery
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="entry.842876269" value="Urology" selected="true" id="select-1644994998869-20">
                            <label class="form-check-label" for="select-1644994998869-20">
                                Urology
                            </label>
                        </div> -->
                    </div>

                    <!-- Fellowship specialties -->
                    <div class="mb-3">
                        <label for="entry.675876217" class="form-label h4">If applicable, which fellowship specialty did you interview for?</label>
                        <input type="text" class="form-control" name="entry.675876217" access="false" id="text-1644995051365">
                    </div>

                    <!-- Institution -->
                    <div class="mb-3">
                        <label for="textarea-1644995090519" class="form-label h4">
                            <div>(Optional) At which institution are you currently studying?</div>
                        </label>
                        <input type="text" class="form-control" name="entry.1914427345" access="false" id="textarea-1644995090519"></input>
                    </div>

                    <!-- Interview format preference -->
                    <div class="mb-3">
                        <h4>In the future, I prefer interviews to be:<span class="text-danger">*</span></h4>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="entry.625532030" value="Virtual" selected="true" id="select-1644995132081-0" required></input>
                            <label class="form-check-label" for="select-1644995132081-0">
                                Virtual
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="entry.625532030" value="In–person" id="select-1644995132081-1" required></input>
                            <label class="form-check-label" for="select-1644995132081-1">
                                In–person
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="entry.625532030" value="Hybrid (virtual interview with in-person second look)" id="select-1644995132081-2" required></input>
                            <label class="form-check-label" for="select-1644995132081-2">
                                Hybrid (virtual interview with in-person second look)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="entry.625532030" value="Unsure" id="select-1644995132081-3" required></input>
                            <label class="form-check-label" for="select-1644995132081-3">
                                Unsure
                            </label>
                        </div>
                    </div>

                    <!-- Additional comments -->
                    <div class="mb-3">
                        <div class="formbuilder-textarea form-group field-textarea-1644995190804">
                            <label for="textarea-1644995190804" class="form-label h4">Any comments?</label>
                            <input type="text" class="form-control" name="entry.909335272" access="false" id="textarea-1644995190804"></input>
                        </div>
                    </div>

                    <!-- Submit btn -->
                    <div class="formbuilder-button form-group field-button-1644997402759">
                        <button type="submit" class="btn-primary btn" name="button-1644997402759" access="false" id="button-1644997402759">Submit</button>
                    </div>

                    <!-- hidden fields for cities -->
                    <input id="city0" type="hidden" name="entry.240743650">
                    <input id="city1" type="hidden" name="entry.1080544932">
                    <input id="city2" type="hidden" name="entry.2129984577">
                    <input id="city3" type="hidden" name="entry.852807689">
                    <input id="city4" type="hidden" name="entry.490061391">
                    <input id="city5" type="hidden" name="entry.1391009792">
                    <input id="city6" type="hidden" name="entry.330088883">
                    <input id="city7" type="hidden" name="entry.1689930028">
                    <input id="city8" type="hidden" name="entry.674972753">
                    <input id="city9" type="hidden" name="entry.764509498">
                    <input id="city10" type="hidden" name="entry.192463826">
                    <input id="city11" type="hidden" name="entry.1419527768">
                    <input id="city12" type="hidden" name="entry.1846688567">
                    <input id="city13" type="hidden" name="entry.537106193">
                    <input id="city14" type="hidden" name="entry.1909908486">
                    <input id="city15" type="hidden" name="entry.350534770">
                    <input id="city16" type="hidden" name="entry.976267829">
                    <input id="city17" type="hidden" name="entry.1082496322">
                    <input id="city18" type="hidden" name="entry.753377230">
                    <input id="city19" type="hidden" name="entry.1164989284">
                    <input id="city20" type="hidden" name="entry.874213606">
                    <input id="city21" type="hidden" name="entry.1361638981">
                    <input id="city22" type="hidden" name="entry.1103784937">
                    <input id="city23" type="hidden" name="entry.1513787133">
                    <input id="city24" type="hidden" name="entry.1617584960">
                    <input id="city25" type="hidden" name="entry.1085779929">
                    <input id="city26" type="hidden" name="entry.1803802730">
                    <input id="city27" type="hidden" name="entry.432052311">
                    <input id="city28" type="hidden" name="entry.1877378464">
                    <input id="city29" type="hidden" name="entry.1853404945">
                </form>
            </div>

            <!-- Hidden old questionnaire Form -->
            <!-- TODO: remove -->
            <div class="d-none bg-light p-3">
                <div class="p-1" style="background-color:#D9DCD6">
                    <!-- TODO: uncomment the real google form response -->
                    <!-- <form class="form mt-5" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSejY5ykx9XWxh_UxnaaAFWOpVQJP2Q2bwVNcnINXDnpMMKXRg/formResponse" target="hidden_iframe" onsubmit="animateThankYouMessage"> -->
                    <form class="form mt-5" action="." onsubmit="return animateThankYouMessage()">
                        <h4 class="text-dark">Please help us understand the cost of the entire AAMC tour</h4>

                        <!-- Med School of Origin -->
                        <div class="form-group mb-3">
                            <label class="text-dark" for="entry.735375071">I study at:</label>
                            <input class="form-control" id="schooloforigin" name="entry.735375071" size="70" type="text" placeholder="Please enter name of medical school" />
                            <div class="form-check">
                                <input class="form-check-input" name="schooloforigin-decline" id="schooloforigin-decline" type="checkbox">
                                <label class="form-check-label" for="schooloforigin-decline">Decline to Answer</label>
                            </div>
                        </div>

                        <!-- Specialties -->
                        <label class="text-dark">I am applying to:</label>
                        <input class="form-control" id="specialties" name="entry.1179383716" size="70" placeholder="Please enter the specialty(ies) you applied to" type="text" />
                        <input class="text-dark" name="specialties-decline" type="checkbox">
                        <label class="text-dark" for="specialties-decline">Decline to Answer</label>

                        <!-- <input id="city0" name="entry.599602472" style="display:none" type="text" />
                        <input id="city1" name="entry.589350821" style="display:none" type="text" />
                        <input id="city2" name="entry.1150841774" style="display:none" type="text" />
                        <input id="city3" name="entry.1124877950" style="display:none" type="text" />
                        <input id="city4" name="entry.122035344" style="display:none" type="text" />
                        <input id="city5" name="entry.550683007" style="display:none" type="text" />
                        <input id="city6" name="entry.1732348661" style="display:none" type="text" />
                        <input id="city7" name="entry.710850222" style="display:none" type="text" />
                        <input id="city8" name="entry.1715087234" style="display:none" type="text" />
                        <input id="city9" name="entry.1946291462" style="display:none" type="text" />
                        <input id="city10" name="entry.386767754" style="display:none" type="text" />
                        <input id="city11" name="entry.251875721" style="display:none" type="text" />
                        <input id="city12" name="entry.757240061" style="display:none" type="text" />
                        <input id="city13" name="entry.1337219740" style="display:none" type="text" />
                        <input id="city14" name="entry.417269170" style="display:none" type="text" />
                        <input id="city15" name="entry.852167020" style="display:none" type="text" />
                        <input id="city16" name="entry.493625509" style="display:none" type="text" />
                        <input id="city17" name="entry.1446717457" style="display:none" type="text" />
                        <input id="city18" name="entry.802516056" style="display:none" type="text" />
                        <input id="city19" name="entry.1117702907" style="display:none" type="text" />
                        <input id="city20" name="entry.103858432" style="display:none" type="text" />
                        <input id="city21" name="entry.469194213" style="display:none" type="text" />
                        <input id="city22" name="entry.806626741" style="display:none" type="text" />
                        <input id="city23" name="entry.741291110" style="display:none" type="text" />
                        <input id="city24" name="entry.333075389" style="display:none" type="text" />
                        <input id="city25" name="entry.1248216763" style="display:none" type="text" />
                        <input id="city26" name="entry.1305126104" style="display:none" type="text" />
                        <input id="city27" name="entry.330434047" style="display:none" type="text" />
                        <input id="city28" name="entry.518662113" style="display:none" type="text" />
                        <input id="city29" name="entry.324442649" style="display:none" type="text" /> -->
                        <h6 class="text-dark p-3"> <strong>Please note</strong>, because the survey is anonymous, once you click the submit button at the end of the survey the researchers will not be able to determine which survey answers belong to you, so your information cannot
                            be withdrawn after that point. Your information only will only be collected if you selected the “I agree” button at the consent cover letter. </h6>
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </form>
                </div>
                <div id="thankyou" style="display:none; background-color:green; margin-bottom:10px">
                    <h1>Thank you!</h1>
                </div>
            </div>
        </div>
    </div>

    <script src="src/comparison.js"></script>
    <script src='src/visitedAirportListAndMarkers.js'></script>

    <!-- circular graph -->
    <script src="src/circlegraph.js"></script>

    <!-- map js -->
    <!-- Vue controls the map -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
    <!-- animation library -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin.min.js'></script>

    <!-- to-do list js -->
    <script src="src/results.js"></script>
    <script src="src/emissions.js"></script>
    <script src="src/map.js"></script>
    <!--form js -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.min.js'></script>
    <script src='https://unpkg.com/fuse.js@2.5.0/src/fuse.min.js'></script>
    <script type="text/javascript" src="src/autocomplete.js"></script>
    <!-- animate form -->
    <script src='https://animejs.com/lib/anime.min.js'></script>
    <script src="src/animate.js"></script>
    <!-- results -->
    <script src="src/infographic.js"></script>
    <script src="src/popup.js"></script>

    <!-- form validation -->
    <script src="src/formInputValidation.js"></script>


</body>

</html>