<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>What were the emissions savings of completing your interviews virtually?</title>
    <meta name="description" content="Calculating the Environmental Impact of the AAMC Tour">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="Kevin E Liang">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/results.css">
    <link rel="stylesheet" type="text/css" href="styles/comparison.css">
    <link rel="stylesheet" type="text/css" href="styles/circlegraph.css">
    <link rel="stylesheet" type="text/css" href="styles/infographicText.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="./src/html2canvas.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jquery ui for dragging locations -->
    <script src="src/jquery-ui.js" type="text/javascript"></script>
</head>
<!-- emissions -->

<body id="top" itemtype="http://schema.org/WebPage">
    <!-- consent modal -->
    <div class="modal" id="consentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="max-width:60vw" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                </div> -->
                <div class="modal-body">
                    <p>We are asking you to take part in a research study being done by researchers at the University of California, San Francisco. Being in this study is optional.
                    </p>
                    <p>
                        If you choose to be in the study, you will complete a survey. This survey will help us learn more about the environmental impact of medical school, residency, and fellowship interviews. The survey will take about 5 minutes to complete. <strong>If you do not want to be in the study, you can still use our website to calculate your real or mitigated emissions, but we ask that you do not "submit" the associated survey questions after using the interactive map so that your responses will not be recorded. </strong>
                    </p>
                    <p>
                        You can skip questions that you do not want to answer or stop the survey at any time. The survey is anonymous, and no one will be able to link your answers back to you. Please do not include your name or other information that could be used to identify
                        you in the survey responses.
                    </p>
                    <p>
                        Questions? Please contact the Interview Without Harm team at <a href="mailto:interviewwithoutharm@gmail.com">interviewwithoutharm@gmail.com</a>. If you have questions or concerns about your rights as a research participant, you
                        can call the UCSF Institutional Review Board at 415-476-1814. If you want to participate in this study, click the Agree button to start the survey.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Agree</button>
                </div>
            </div>
        </div>
    </div>

    <!-- post survey response modal -->
    <div class="modal" id="postResponseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="max-width:60vw" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        Thank you for completing the survey. To read and sign our petition advocating for the continuation of virtual interviews, please visit the "Sign our Petition" tab. Note that if you choose to sign the petition, you will have the option to include your
                        mitigated emissions after your name. If you would like to include that value, please copy the calculated emissions (<strong><span id="modalEmissions"></span></strong>) before leaving this page.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" onclick='navigator.clipboard.writeText($("#modalEmissions").text());alert(`\"${$("#modalEmissions").text()}\" copied to keyboard!`);'>Copy emissions to keyboard</button>
                    <a href="./advocate.html"><button type="button" class="btn btn-primary">Sign the Petition</button></a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- load navbar -->
    <div id="nav-placeholder"></div>
    <script>
        let title = "Interview Without Harm"
        $.get("./templates/navigation.html", function(data) {
            $("#nav-placeholder").replaceWith(data);
            $("#navbarTitle").text(title);
        });
        document.title = title;
    </script>

    <div class="overlay"></div>
    <div class="spanner">
        <div class="loader"></div>
        <p>Calculating your mitigated emissions...</p>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-end align-items-center pt-5">
            <div class="col-lg-5" id="user-input">
                <!-- map of US -->
                <div id="app" class="mileage">
                    <svg id="usMap" class="mileage-map p-2" ref="map" width="1200" height="780" viewBox="-120 -100 1200 780">
                        <g class="mileage-map__states" ref="provinces"></g>
                        <g ref="airports">
                            <g class="airport" :class="{ ' airport--current ' : airport.current }" v-for="airport in airports">
                                <circle r="3" :cx="airport.x" :cy="airport.y" class="airport__marker" />
                                <circle r="16" :cx="airport.x" :cy="airport.y" class="airport__range" />
                                <circle r="16" :cx="airport.x" :cy="airport.y" class="airport__range" />
                            </g>
                        </g>


                        <path class="marker-connector" :d="markerConnect()"></path>

                        <g class="airplane" ref="airplane">
                            <path class="airplane__icon" d="M21 15.984l-8.016-2.484v5.484l2.016 1.5v1.5l-3.516-0.984-3.469 0.984v-1.5l1.969-1.5v-5.484l-7.969 2.484v-1.969l7.969-5.016v-5.484c0-0.844 0.656-1.5 1.5-1.5s1.5 0.656 1.5 1.5v5.484l8.016 5.016v1.969z" transform="translate(-8,-15) scale(1.2)"></path>
                        </g>

                        <g v-for="marker in markers" @mousedown="markerSet($event,marker)" class="marker" :class="{ 'marker--current' : marker.current }" :transform="'translate('+marker.x+','+marker.y+')'">
                            <path fill="{{marker.fill}}" d="M0 0l28.592-28.592c15.78-15.78 15.908-41.24.128-57.02a40.424 40.424 0 0 0-57.124 57.2z"></path>
                            <transition name="marker-fade">
                                <text v-if="marker.airport" x="0" y="-42" text-anchor="middle" v-text="marker.airport.LocationID"></text>
                            </transition>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="row align-items-center col-lg-5 px-0" style="height: 60%;">
                <!-- <p class="mx-auto col-10 text-center pt-3">
                    Interactive Map: Please enter the estimated flight itinerary of your interview schedule, had interviews been in-person. Remember to include flights back to your home city in-between interviews when applicable. Please do not include places you would have
                    driven or used public transportation to reach.
                </p> -->
                <!-- user enters their airport info -->
                <div class="mx-auto d-flex justify-content-center col-10">
                    <form method="post" action="" id="sort-it" onsubmit="return false;">
                        <p class="h3 text-center">
                            What were the emissions savings of completing your interviews virtually?
                        </p>
                        <p class="control-label text-dark text-center h5" for="autocomplete">
                            Please enter your home city (your air travel departure city, had interviews been in-person).
                        </p>
                        <div class="input-group justify-content-center mt-2">
                            <input id="autocomplete" class="form-control" type="text" name="dep-city" placeholder="City or Airport Name ..." autocomplete="off" />
                            <div class="mt-2">
                                <!-- hide button because clicking on the autocomplete entry adds it now but didn't rewire the button logic -->
                                <button type="button" class="btn btn-primary d-none" id="addbutton">Add</button>
                                <button type="button" class="btn btn-secondary" id="calculate" style="display:none;">Calculate my mitigated emissions</button>
                            </div>
                        </div>

                        <!-- hidden because not used, leaving in just in case we need it later -->
                        <div style="display: none" class="input-group pt-3 pb-3 justify-content-center" id="journeytype">
                            <input type="radio" name="journeytype" value="1" id="flying" checked="" />
                            <label class="text-dark" for="flying">By Flying</label>
                            <input type="radio" name="journeytype" value="0" id="other" />
                            <label class="text-dark" for="other">By Other Means</label>
                        </div>

                        <ul id="visited-airport-list" class="mt-5 d-none"></ul>
                        <div class="clearfix"></div>

                    </form>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>

        <!-- hidden infographic and form displayed after the user enters their residency info -->
        <div class="d-none p-5 col-12 mx-auto" id="emission-data">
            <div class="row">
                <!-- Infographic -->
                <div class="col col-lg-6 mx-auto text-white text-center">
                    <div class="rounded mb-3" id="infographic">
                        <h3>Total Emission Calculations</h3>
                        <h8>Source: Estimates based on economy class seats </h8>

                        <div id="infographic-container" class="position-relative my-3" style="height:70vh;background-clip: content-box;">
                            <img id="infographic-bg-img" class="centered" src="images/Infographic background.png" alt="infographic-background" style="width:auto;height:70vh">
                            <div id="infographic-text" class="centered pt-3" style="width: 80%;color:#212527">
                                <span>
                                    Because interviews were virtual, I avoided
                                </span>
                                <span class="mileage__calculations" id="distancebetween">
                                    <span id="totalDistance" data-distance=""></span> miles of flights
                                </span>
                                <span>between</span>
                                <span class="mileage__calculations" id="numberofcities">
                                    <span id="totalCities" data-city=""></span> cities
                                </span>
                                <span>and saved</span>
                                <span class="mileage__calculations" id="co2emission">
                                    <span id="totalEmission" data-emission=""></span> metric tons of CO&#8322;
                                </span>
                                <span>which is equivalent to</span>
                                <span class="mileage__calculations" id="co2emission">
                                    <span id="percentageAmerican"></span> of the average American's annual carbon footprint.
                                </span>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <h5 style="max-width:80%">Spread the word! Copy, screenshot, or save this image and share on social media with the hashtag #interviewwithoutharm.</h5>
                        </div>
                    </div>

                    <div class="row rounded" id="comparisonGraph">
                        <div class="col-12">
                            <h5>In order to offset these theoretical emissions, you would need to make the following lifestyle changes for 1 year (click the checkboxes)</h5>
                        </div>

                        <section>
                            <div class="row">
                                <div class="col" id="legend-graph">
                                    <div class="column">
                                        <div class="form-group">
                                            <input id="opt0" type="checkbox" value="0.9">
                                            <label for="opt0"><span></span>Go vegetarian</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="opt1" type="checkbox" value="0.21">
                                            <label for="opt1"><span></span>Recycle</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="opt2" type="checkbox" value="0.37">
                                            <label for="opt2"><span></span>Reduce your food waste to zero</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="opt3" type="checkbox" value="0.36">
                                            <label for="opt3"><span></span>Eat local food only</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="opt4" type="checkbox" value="3.08">
                                            <label for="opt4"><span></span>Live car free</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="opt5" type="checkbox" value="1.4">
                                            <label for="opt5"><span></span>Source household energy from renewables</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="opt6" type="checkbox" value="0.21">
                                            <label for="opt6"><span></span>Hang clothing to dry</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="big-bars">
                                    <div class="comp-bar">
                                        <div class="opt-bar" id="opt0-bar">
                                            <div>- 0.90 tCO₂e</div>
                                        </div>
                                        <div class="opt-bar" id="opt1-bar">
                                            <div>- 0.21 tCO₂e</div>
                                        </div>
                                        <div class="opt-bar" id="opt2-bar">
                                            <div>- 0.37 tCO₂e</div>
                                        </div>
                                        <div class="opt-bar" id="opt3-bar">
                                            <div>- 0.36 tCO₂e</div>
                                        </div>
                                        <div class="opt-bar" id="opt4-bar">
                                            <div>- 3.08 tCO₂e</div>
                                        </div>
                                        <div class="opt-bar" id="opt5-bar">
                                            <div>- 1.4 tCO₂e</div>
                                        </div>
                                        <div class="opt-bar" id="opt6-bar">
                                            <div>- 0.21 tCO₂e</div>
                                        </div>
                                    </div>
                                    <div id="coBarThree" class="plane-bar color-white">
                                        <div>+ <span class="co"></span> tCO₂e</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <!-- New response data form -->
                <div class="mx-auto col-lg-5 d-flex flex-column align-items-center">
                    <!-- dummy frame for form to submit without redirect -->
                    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

                    <!-- Custom styled form -->
                    <form id="questionnaireForm" class="needs-validation p-4 px-5 rounded text-white" action="https://docs.google.com/forms/d/1oWoevryoI-TpYB7nr9I98oC5jsG7aU_50xwWLERIRZg/formResponse" method="POST" target="dummyframe" style="background: #4D4D4D">
                        <div class="mb-4 justify-content-center">
                            <h4 class="container col-12 text-white justify-content-center">Please help us understand the environmental impact of medical student, residency, and fellowship interviews by completing this short survey</h4>
                        </div>

                        <div class="question-group">
                            <!-- Which year they interviewed -->
                            <h4>I interviewed during the:</h4>
                            <div class="form-check">
                                <input class="form-check-input" name="entry.619680505" type="radio" value="2021-2022 application cycle" id="select-1644994922881-0">
                                <label class="form-check-label" for="select-1644994922881-0">
                                    2021-2022 application cycle
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="entry.619680505" type="radio" value="2020-2021 application cycle" id="select-1644994922881-1"></input>
                                <label class="form-check-label" for="select-1644994922881-1">
                                    2020-2021 application cycle
                                </label>
                            </div>
                        </div>

                        <!-- Med school, residency, or fellowship -->
                        <div class="question-group">
                            <h4>I interviewed for:</h4>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="entry.29944464" value="Medical School" selected="true" id="select-1644994963652-0">
                                <label class="form-check-label" for="select-1644994963652-0">
                                    Medical School
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="entry.29944464" value="Residency" id="select-1644994963652-1"></input>
                                <label class="form-check-label" for="select-1644994963652-1">
                                    Residency
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="entry.29944464" value="Fellowship" id="select-1644994963652-2"></input>
                                <label class="form-check-label" for="select-1644994963652-2">
                                    Fellowship
                                </label>
                            </div>
                        </div>

                        <!-- Residency specialties -->
                        <div class="question-group">
                            <h4>If applicable, which residency specialty did you interview for?</h4>
                            <select class="form-select" name="entry.842876269" aria-label="which residency specialty did you interview for">
                                <option value="N/A" selected>N/A</option>
                                <option value="Anesthesiology">Anesthesiology</option>
                                <option value="Dermatology">Dermatology</option>
                                <option value="Diagnostic Radiology">Diagnostic Radiology</option>
                                <option value="Emergency Medicine">Emergency Medicine</option>
                                <option value="Family Medicine">Family Medicine</option>
                                <option value="Internal Medicine">Internal Medicine</option>
                                <option value="Neurology">Neurology</option>
                                <option value="Neurosurgery">Neurosurgery</option>
                                <option value="Obstetrics and Gynecology">Obstetrics and Gynecology</option>
                                <option value="Ophthalmology">Ophthalmology</option>
                                <option value="Orthopedic Surgery">Orthopedic Surgery</option>
                                <option value="Otolaryngology">Otolaryngology</option>
                                <option value="Pathology">Pathology</option>
                                <option value="Pediatrics">Pediatrics</option>
                                <option value="Physical Medicine and Rehabilitation">Physical Medicine and Rehabilitation</option>
                                <option value="Plastic Surgery">Plastic Surgery</option>
                                <option value="Psychiatry">Psychiatry</option>
                                <option value="Radiation Oncology">Radiation Oncology</option>
                                <option value="Surgery">Surgery</option>
                                <option value="Thoracic Surgery">Thoracic Surgery</option>
                                <option value="Urology">Urology</option>
                            </select>
                        </div>

                        <!-- Fellowship specialties -->
                        <div class="question-group">
                            <label for="entry.675876217" class="form-label h4">If applicable, which fellowship specialty did you interview for?</label>
                            <input type="text" class="form-control" name="entry.675876217" access="false" id="text-1644995051365">
                        </div>

                        <!-- Number of programs interviewed at -->
                        <div class="question-group">
                            <label for="entry.1970835514" class="form-label h4">In total, with how many programs did you interview?</label>
                            <input type="text" class="form-control" name="entry.1970835514" access="false" id="text-164499505675">
                        </div>

                        <!-- Number of programs outside of air travel -->
                        <div class="question-group">
                            <label for="entry.424656168" class="form-label h4">Had interviews been in-person, approximately how many programs would you have reached via a means of transport other than air travel (e.g. train, bus, car)? Remember to include your home program if applicable.</label>
                            <input type="text" class="form-control" name="entry.424656168" access="false" id="text-164499578625">
                        </div>

                        <!-- Institution -->
                        <div class="question-group">
                            <label for="textarea-1644995090519" class="form-label h4">
                                <div>At which institution are you currently studying or working?</div>
                            </label>
                            <input type="text" class="form-control" name="entry.1914427345" access="false" id="textarea-1644995090519"></input>
                        </div>

                        <!-- Interview format preference -->
                        <div class="question-group">
                            <h4>In the future, I prefer interviews to be:</h4>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="entry.625532030" value="Virtual" selected="true" id="select-1644995132081-0"></input>
                                <label class="form-check-label" for="select-1644995132081-0">
                                    Virtual
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="entry.625532030" value="In–person" id="select-1644995132081-1"></input>
                                <label class="form-check-label" for="select-1644995132081-1">
                                    In–person
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="entry.625532030" value="Hybrid (virtual interview with in-person second look)" id="select-1644995132081-2"></input>
                                <label class="form-check-label" for="select-1644995132081-2">
                                    Hybrid (virtual interview with in-person second look)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="entry.625532030" value="Unsure" id="select-1644995132081-3"></input>
                                <label class="form-check-label" for="select-1644995132081-3">
                                    Unsure
                                </label>
                            </div>
                        </div>

                        <!-- Additional comments -->
                        <div class="question-group">
                            <div class="formbuilder-textarea form-group field-textarea-1644995190804">
                                <label for="textarea-1644995190804" class="form-label h4">Please comment on why you selected this preference.</label>
                                <input type="text" class="form-control" name="entry.909335272" access="false" id="textarea-1644995190804"></input>
                            </div>
                        </div>

                        <!-- Submit and reset btn -->
                        <div class="formbuilder-button form-group field-button-1644997402759">
                            <button type="submit" class="btn-primary btn" name="button-1644997402759" access="false" id="button-1644997402759">Submit</button>
                            <button class="btn-warning btn" onclick="document.getElementById('questionnaireForm').reset();">Reset Answers</button>
                        </div>

                        <!-- hidden fields for cities -->
                        <input id="city0" type="hidden" name="entry.240743650">
                        <input id="city1" type="hidden" name="entry.1080544932">
                        <input id="city2" type="hidden" name="entry.2129984577">
                        <input id="city3" type="hidden" name="entry.852807689">
                        <input id="city4" type="hidden" name="entry.490061391">
                        <input id="city5" type="hidden" name="entry.1391009792">
                        <input id="city6" type="hidden" name="entry.330088883">
                        <input id="city7" type="hidden" name="entry.1689930028">
                        <input id="city8" type="hidden" name="entry.674972753">
                        <input id="city9" type="hidden" name="entry.764509498">
                        <input id="city10" type="hidden" name="entry.192463826">
                        <input id="city11" type="hidden" name="entry.1419527768">
                        <input id="city12" type="hidden" name="entry.1846688567">
                        <input id="city13" type="hidden" name="entry.537106193">
                        <input id="city14" type="hidden" name="entry.1909908486">
                        <input id="city15" type="hidden" name="entry.350534770">
                        <input id="city16" type="hidden" name="entry.976267829">
                        <input id="city17" type="hidden" name="entry.1082496322">
                        <input id="city18" type="hidden" name="entry.753377230">
                        <input id="city19" type="hidden" name="entry.1164989284">
                        <input id="city20" type="hidden" name="entry.874213606">
                        <input id="city21" type="hidden" name="entry.1361638981">
                        <input id="city22" type="hidden" name="entry.1103784937">
                        <input id="city23" type="hidden" name="entry.1513787133">
                        <input id="city24" type="hidden" name="entry.1617584960">
                        <input id="city25" type="hidden" name="entry.1085779929">
                        <input id="city26" type="hidden" name="entry.1803802730">
                        <input id="city27" type="hidden" name="entry.432052311">
                        <input id="city28" type="hidden" name="entry.1877378464">
                        <input id="city29" type="hidden" name="entry.1853404945">
                        <input id="city30" type="hidden" name="entry.414980821">
                        <input id="city31" type="hidden" name="entry.1309272153">
                        <input id="city32" type="hidden" name="entry.1609136067">
                        <input id="city33" type="hidden" name="entry.1746276901">
                        <input id="city34" type="hidden" name="entry.373639568">
                        <input id="city35" type="hidden" name="entry.1290274366">
                        <input id="city36" type="hidden" name="entry.1801361577">
                        <input id="city37" type="hidden" name="entry.1929878287">
                        <input id="city38" type="hidden" name="entry.1954772837">
                        <input id="city39" type="hidden" name="entry.1550991301">
                    </form>
                </div>
            </div>

            <div class="row p-5 d-flex col-12 mx-auto">
                <div>
                    <h3>References</h3>
                </div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            1. UK Government Department for Business, Energy, and Industrial Strategy. Greenhouse gas reporting: conversion factors 2021. https://www.gov.uk/government/publications/greenhouse-gas-reporting-conversion-factors-2021
                        </li>
                        <li class="list-group-item">
                            2. Statista. Carbon dioxide emissions from energy consumption in the United States from 1975 to 2020. https://www.statista.com/statistics/183943/us-carbon-dioxide-emissions-from-1999/
                        </li>
                        <li class="list-group-item">
                            3. Wynes, Seth, and Kimberly A Nicholas. “The Climate Mitigation Gap: Education and Government Recommendations Miss the Most Effective Individual Actions.” Environmental Research Letters, vol. 12, no. 7, 2017, p. 074024., doi:10.1088/1748-9326/aa7541.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="src/comparison.js"></script>
    <script src='src/visitedAirportListAndMarkers.js'></script>

    <!-- circular graph -->
    <script src="src/circlegraph.js"></script>

    <!-- map js -->
    <!-- Vue controls the map -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
    <!-- animation library -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin.min.js'></script>

    <!-- to-do list js -->
    <script src="src/emissions.js"></script>
    <script src="src/map.js"></script>
    <!--form js -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.min.js'></script>
    <script src='https://unpkg.com/fuse.js@2.5.0/src/fuse.min.js'></script>
    <script type="text/javascript" src="src/autocomplete.js"></script>
    <!-- animate form -->
    <script src='https://animejs.com/lib/anime.min.js'></script>
    <!-- results -->
    <script src="src/infographic.js"></script>
    <script src="src/popup.js"></script>

    <!-- form validation -->
    <script src="src/formInputValidation.js"></script>


</body>

</html>