* {
    outline: none;
}

li {
    clear: both;
    list-style: none;
}

html,
body {
    background: #D9DCD6;
    font-family: 'Roboto', sans-serif;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
    /*display: flex;*/
    min-height: 100%;
    margin: 0;
}

#introduction {
    width: 100%;
    position: relative;
    /* margin-top: 5vh; */
}

#app {
    height: auto;
    width: 100%;
    margin: auto;
    /* position: absolute;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0; */
}

#journeytype input {
    width: auto;
    opacity: 1;
}

#journeytype label {
    margin: 0 1rem 0 0.5rem;
    padding-top: 0;
    line-height: 20px;
    cursor: pointer;
    vertical-align: text-top;
}

#autocomplete {
    /*position:relative;*/
    /*    float:left;
        margin: 20px 0px 0px 0px;
        border: none;
        width: 50%*/
}

.easy-autocomplete-container {
    left: 0;
    position: absolute;
    width: 40px;
    z-index: 2;
    margin: 20px 0px 0px 0px;
    color: black;
}

#addbutton {
    min-width: 5vw;
}

button:hover {
    color: #0FC57C;
}


/* input text without focus */

form,
input {
    /*    position: absolute;
        top: 65%;
        left: 35%;*/
    border: 0;
    background-color: transparent;
    display: inline-block
}

input {
    line-height: 3;
    left: 0%;
    color: white;
}

input#new-task {
    float: left;
    width: 400px;
}

li {
    overflow: hidden;
    padding: 20px 0;
    border: none;
}

#visited-airport-list>li {
    border-bottom: 1px solid #34495d;
}

#visited-airport-list>li:last-of-type {
    border-bottom: 0 none;
}

li>label {
    color: white;
    padding: 0;
    text-align: left;
}

li>input[type="text"] {
    width: 226px;
}

li>.delete:hover {
    color: #CF2323;
}

.autocomplete-wrapper {
    position: relative;
    min-width: 30vw;
}

.autocomplete-results {
    /* position: absolute; */
    background: white;
    z-index: 1;
    top: 39px;
    left: 0;
    border: solid 1px #ddd;
    border-top-width: 0;
    border-bottom-color: #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: black;
    width: 100%;
    display: none;
}

.autocomplete-result {
    padding: 12px 15px;
    border-bottom: solid 1px #eee;
    cursor: pointer;
    text-align: left;
}

.autocomplete-result:hover,
.autocomplete-result.active {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
}

.autocomplete-results .autocomplete-option {
    text-align: left;
    padding: 10px;
}

.autocomplete-result:last-child {
    border-bottom-width: 0;
}

.autocomplete-location {
    opacity: .8;
}


/*.autocomplete-results[data-highlight='0'] > :nth-child(1) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
}*/


/*.autocomplete-results[data-highlight='1'] > :nth-child(2) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
}

.autocomplete-results[data-highlight='2'] > :nth-child(3) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
}*/

.mileage__calculations
/* answer */

{
    margin: 0;
    font-weight: inherit;
}

.mileage__calculations {
    color: #E0FBFC;
}

.mileage-map {
    display: block;
    width: auto;
    height: 60vh;
    /*    max-width: 90%;
        max-height: 90%;*/
    margin: auto auto;
    overflow: visible;
}

.mileage-map__states {
    stroke: #34495D;
    stroke-width: 2;
    fill: #2F6690;
}

.marker {
    fill: #ffa93a;
    stroke: #FFF;
    stroke-width: 1;
    cursor: pointer;
    transition: opacity 0.3s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.marker>* {
    transition: -webkit-transform 0.3s cubic-bezier(0.6, 0, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.6, 0, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.6, 0, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0.6, 0, 0.5, 1);
}

.marker text {
    stroke: none;
    fill: black;
    font-family: inherit;
    font-weight: 1000;
}

.marker-fade-leave-active,
.marker-fade-enter-active {
    transition: opacity 0.3s linear;
}

.marker-fade-enter,
.marker-fade-leave-to {
    opacity: 0;
}

.marker--current {
    /* opacity: 0.8; */
    pointer-events: none;
}

.marker--current>* {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}


/* ////////////////////////////////////////////////////////////////////////// */

.airport {
    fill: #FFF;
    stroke-width: 2;
    stroke: transparent;
    transition: stroke 0.3s linear;
}

.airport:hover {
    stroke: rgba(255, 255, 255, 0.3);
}

.airport--current,
.airport--current:hover {
    stroke: #FFF;
    stroke: rgba(255, 255, 255, 0.8);
}

.airport__range {
    fill: transparent;
}

.marker-connector {
    fill: none;
    stroke: #FFF;
    stroke-width: 2;
    stroke-dasharray: 6 6;
    pointer-events: none;
    -webkit-animation: marching-ants 1s linear 0s infinite;
    animation: marching-ants 1s linear 0s infinite;
}

@-webkit-keyframes marching-ants {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 12;
    }
}

@keyframes marching-ants {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 12;
    }
}

#user-input,
#emission-data {
    /*height: 100vh;*/
    display: inline-block;
}

.airplane {
    pointer-events: none;
    fill: #FFF;
    opacity: 0;
}

#visited-airport-list {
    position: absolute;
    left: 25px;
    top: 50px;
    padding: 0;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #4d5d6d;
    border-radius: 4px;
    padding: 0 10px;
    background: #203446;
}

#visited-airport-list .delete {
    width: 40px;
    margin: 0;
    background: none;
    border: 0px;
    color: #ff0000a1;
    float: right;
    cursor: pointer;
    padding: .200rem .75rem .375rem;
}

#visited-airport-list .delete:hover {
    color: red;
}

#visited-airport-list .delete:focus {
    box-shadow: none;
}

input::placeholder {
    color: dimgrey;
    width: 100%;
    text-align: left;
}

#circulargraph .graph>.pc1 {
    margin: 0 auto;
}

#circulargraph .textBox {
    float: none;
    width: auto;
}

@media only screen and (max-width: 575px) {
    #circulargraph .textBox {
        margin-top: 0px !important;
        text-align: center;
    }
}

@media only screen and (max-width: 635px) {
    #sort-it {
        width: auto;
    }
}

.btn-3 {
    background: #C14545;
    border: 1px solid #681111;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
}

.btn-3:hover {
    background: #DD7373;
    text-decoration: none;
    transition: all 250ms linear;
}

.spanner {
    position: absolute;
    top: 50%;
    left: 0;
    background: #2a2a2a55;
    width: 100%;
    display: block;
    text-align: center;
    height: 300px;
    color: #FFF;
    transform: translateY(-50%);
    z-index: 1000;
    visibility: hidden;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.show {
    visibility: visible;
}

.spanner,
.overlay {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.spanner.show,
.overlay.show {
    opacity: 1
}